h1{
    display: block;
    text-align: center;
}

#video{
    display: none;
    width: 60%;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
}

.content{
    display: flex;
}

.boton{
    display: none;
    width: 18%;
    background-color: rgb(74, 128, 228);
    padding: 5px;
    color: white;
    text-align: center;  
    margin: auto;
    margin-top: 30px; 
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    font-size: 24px;
    text-decoration: none;
    border: none;
    outline: none;
}

.boton:hover{
    cursor: pointer !important;
    background-color: rgb(46, 105, 214);
    transform: scale(1.02   );
    transition: all 1s;
    outline: none;
}



